Repository plcnk/kube-configs, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/argocd-apps, area/manifests, area/helm-values

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/argocd-apps:
  - changed-files:
      - any-glob-to-any-file: "argocd-apps/**/*"
area/manifests:
  - changed-files:
      - any-glob-to-any-file: "manifests/**/*"
area/helm-values:
  - changed-files:
      - any-glob-to-any-file: "values/**/*"

Update README.md
  README.md
Labels: none

Update argocd.yaml
  values/argocd.yaml
Labels: area/helm-values

Update README.md
  README.md
Labels: none

feat(doc): Update k3s version
  README.md
Labels: none

Revert "chore(deps): update ghcr.io/gethomepage/homepage docker tag to v1 (#547)"
  values/homepage.yaml
Labels: area/helm-values

Revert "chore(deps): update ghcr.io/gethomepage/homepage docker tag to v1 (#547)" (#548)
  values/homepage.yaml
Labels: area/helm-values

fix(kube-vip): vip_cidr replaced by vip_subnet
  values/kube-vip.yaml
Labels: area/helm-values

Revert "chore(deps): update ghcr.io/kube-vip/kube-vip docker tag to v0.9.2 (#…"
  values/kube-vip.yaml
Labels: area/helm-values

Revert "chore(deps): update ghcr.io/kube-vip/kube-vip docker tag to v0.9.2 (#…" (#700)
  values/kube-vip.yaml
Labels: area/helm-values

Revert "chore(deps): update helm release kube-vip to v0.7.1 (#742)"
  argocd-apps/kube-vip/application.yaml
Labels: area/argocd-apps

Revert "chore(deps): update helm release kube-vip to v0.7.1 (#742)" (#743)
  argocd-apps/kube-vip/application.yaml
Labels: area/argocd-apps
