Repository plcnk/kube-configs, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/argocd-apps, area/manifests, area/helm-values

feat(gatus): Config
  values/gatus.yaml
Labels: area/helm-values

feat(actions): Disable secret lint
  .github/workflows/lint.yaml
Labels: area/ci

feat(gatus): Config (#112)
  values/gatus.yaml
Labels: area/helm-values

test: Downgrade Grafana
  values/prometheus-stack.yaml
Labels: area/helm-values

fix: Fix linting
  .github/linters/.markdownlint.yaml
  .github/linters/.yaml-lint.yaml
  .github/workflows/copy-manifests.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
Labels: area/ci

feat(prometheus): Increase retention
  values/prometheus-stack.yaml
Labels: area/helm-values

feat(renovate): Change config
  .github/renovate.json5
  .github/renovate/automerge-docker-patch.json5
Labels: area/ci

test(renovate): Downgrade Grafana to test Renovate config
  values/prometheus-stack.yaml
Labels: area/helm-values

feat(it-tools): Update values
  values/it-tools.yaml
Labels: area/helm-values

fix(it-tools): Change ingress host
  values/it-tools.yaml
Labels: area/helm-values

fix(it-tools): Re-add ingress annotations
  values/it-tools.yaml
Labels: area/helm-values

feat(actions): Update copy workflow
  .github/workflows/copy-manifests.yaml
  manifests/test/cm.yaml
  manifests/test/kustomization.yaml
Labels: area/ci, area/manifests

Revert "feat(actions): Update copy workflow"
  .github/workflows/copy-manifests.yaml
  manifests/test/cm.yaml
  manifests/test/kustomization.yaml
Labels: area/ci, area/manifests

Create CODEOWNERS
  .github/CODEOWNERS
Labels: area/ci

feat(renovate): Update automerge config
  .github/renovate.json5
  .github/renovate/automerge-patch.json5
Labels: area/ci

feat(it-tools): Update service port to 8080
  values/it-tools.yaml
Labels: area/helm-values

Update it-tools.yaml
  values/it-tools.yaml
Labels: area/helm-values

Revert "Update it-tools.yaml"
  values/it-tools.yaml
Labels: area/helm-values

feat(apps): Add Moodist
  argocd-apps/kustomization.yaml
  argocd-apps/moodist/application.yaml
  argocd-apps/moodist/kustomization.yaml
  manifests/kustomization.yaml
  manifests/moodist/cert.yaml
  manifests/moodist/kustomization.yaml
  values/moodist.yaml
Labels: area/argocd-apps, area/manifests, area/helm-values

feat(moodist): Add values
  values/moodist.yaml
Labels: area/helm-values

feat(moodist): Add namespace
  manifests/namespaces/ns.yaml
Labels: area/manifests

feat(gatus): Add Moodist
  values/gatus.yaml
  values/moodist.yaml
Labels: area/helm-values

feat(apps): Add wikijs
  argocd-apps/kustomization.yaml
  argocd-apps/wikijs/application.yaml
  argocd-apps/wikijs/kustomization.yaml
  manifests/authentik/ingress.yaml
  manifests/kustomization.yaml
  manifests/namespaces/ns.yaml
  manifests/wikijs/backup-cnpg.yaml
  manifests/wikijs/cert.yaml
  manifests/wikijs/cnpg-wikijs.yaml
  manifests/wikijs/kustomization.yaml
  manifests/wikijs/sealed-aws-creds.yaml
  values/gatus.yaml
  values/wikijs.yaml
Labels: area/argocd-apps, area/manifests, area/helm-values

fix(wikijs): Fix authentik auth
  manifests/wikijs/kustomization.yaml
  manifests/wikijs/plcnk-ca.yaml
  values/wikijs.yaml
Labels: area/manifests, area/helm-values

feat(gatus): Add Wiki.js postgres
  values/gatus.yaml
Labels: area/helm-values

feat(gatus): Add Wiki.js postgres (#131)
  values/gatus.yaml
Labels: area/helm-values

feat(gatus): Tweak alerting config
  values/gatus.yaml
Labels: area/helm-values

feat(apps): Install Cloudflared
  argocd-apps/cloudflared/application.yaml
  argocd-apps/cloudflared/kustomization.yaml
  argocd-apps/kustomization.yaml
  manifests/cloudflared/kustomization.yaml
  manifests/cloudflared/sealed-tunnel-token.yaml
  manifests/namespaces/ns.yaml
  values/cloudflared.yaml
Labels: area/argocd-apps, area/manifests, area/helm-values

feat(cloudflared): Added to Kustomization
  manifests/kustomization.yaml
Labels: area/manifests

feat(apps): Install Cloudflared (#133)
  argocd-apps/cloudflared/application.yaml
  argocd-apps/cloudflared/kustomization.yaml
  argocd-apps/kustomization.yaml
  manifests/cloudflared/kustomization.yaml
  manifests/cloudflared/sealed-tunnel-token.yaml
  manifests/kustomization.yaml
  manifests/namespaces/ns.yaml
  values/cloudflared.yaml
Labels: area/argocd-apps, area/manifests, area/helm-values

feat(authentik): Update server replicas
  values/authentik.yaml
Labels: area/helm-values

feat(vaultwarden): Create base manifests
  manifests/kustomization.yaml
  manifests/namespaces/ns.yaml
  manifests/vaultwarden/backup-cnpg.yaml
  manifests/vaultwarden/cert.yaml
  manifests/vaultwarden/cnpg-vaultwarden.yaml
  manifests/vaultwarden/kustomization.yaml
  manifests/vaultwarden/sealed-aws-creds.yaml
Labels: area/manifests

feat(vaultwarden): Create base manifests (#143)
  manifests/kustomization.yaml
  manifests/namespaces/ns.yaml
  manifests/vaultwarden/backup-cnpg.yaml
  manifests/vaultwarden/cert.yaml
  manifests/vaultwarden/cnpg-vaultwarden.yaml
  manifests/vaultwarden/kustomization.yaml
  manifests/vaultwarden/sealed-aws-creds.yaml
Labels: area/manifests

fix(vaultwarden): Remove ca file
  manifests/vaultwarden/kustomization.yaml
Labels: area/manifests

fix(namespace): Fix apiVersion
  manifests/namespaces/ns.yaml
Labels: area/manifests

feat(apps): Install Vaultwarden
  argocd-apps/kustomization.yaml
  argocd-apps/vaultwarden/application.yaml
  argocd-apps/vaultwarden/kustomization.yaml
  values/vaultwarden.yaml
Labels: area/argocd-apps, area/helm-values

fix(vaultwarden): Linting
  values/vaultwarden.yaml
Labels: area/helm-values

feat(vaultwarden): Remove unnecessary config
  values/vaultwarden.yaml
Labels: area/helm-values

feat(apps): Install Vaultwarden (#144)
  argocd-apps/kustomization.yaml
  argocd-apps/vaultwarden/application.yaml
  argocd-apps/vaultwarden/kustomization.yaml
  values/vaultwarden.yaml
Labels: area/argocd-apps, area/helm-values

feat(cloudflare): Increase replicas
  values/cloudflared.yaml
Labels: area/helm-values

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/argocd-apps:
  - changed-files:
      - any-glob-to-any-file: "argocd-apps/**/*"
area/manifests:
  - changed-files:
      - any-glob-to-any-file: "manifests/**/*"
area/helm-values:
  - changed-files:
      - any-glob-to-any-file: "values/**/*"
