Repository plcnk/kube-configs, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/argocd-apps, area/manifests, area/helm-values

feat(vaultwarden): Add to Homepage and Gatus
  values/gatus.yaml
  values/vaultwarden.yaml
Labels: area/helm-values

feat(homepage): Change vaultwarden icon
  values/vaultwarden.yaml
Labels: area/helm-values

feat(rancher): Increase replicas
  values/rancher.yaml
Labels: area/helm-values

feat(doc): Update README.md
  README.md
Labels: none

feat(actions): Update renovate.json5
  .github/renovate.json5
Labels: area/ci

feat(gatus): Change version & replace icmp checks
  argocd-apps/gatus/application.yaml
  values/gatus.yaml
Labels: area/argocd-apps, area/helm-values

feat(argocd): Change sync policies
  argocd-apps/homepage/application.yaml
  argocd-apps/it-tools/application.yaml
  argocd-apps/moodist/application.yaml
Labels: area/argocd-apps

feat(argocd): Remove VIP check
  values/gatus.yaml
Labels: area/helm-values

feat(gatus): Remove Vault NG
  values/gatus.yaml
Labels: area/helm-values

feat(cnpg): Disable immediate backup
  manifests/authentik/backup-cnpg.yaml
  manifests/gitea/backup-cnpg.yaml
  manifests/vaultwarden/backup-cnpg.yaml
  manifests/wikijs/backup-cnpg.yaml
Labels: area/manifests

feat(vault): Config
  values/vaultwarden.yaml
Labels: area/helm-values

feat(vault): Change pod upgrade strategy
  values/vaultwarden.yaml
Labels: area/helm-values

feat(rancher): Switch to stable repo
  argocd-apps/rancher/application.yaml
Labels: area/argocd-apps

feat(rancher): Switch to stable repo (#189)
  argocd-apps/rancher/application.yaml
Labels: area/argocd-apps

feat(semaphore): Initial installation
  argocd-apps/kustomization.yaml
  argocd-apps/semaphore/application.yaml
  argocd-apps/semaphore/kustomization.yaml
  manifests/authentik/sealed-secret-key.yaml
  manifests/gatus/sealed-gatus-env.yaml
  manifests/kustomization.yaml
  manifests/namespaces/ns.yaml
  manifests/semaphore/backup-cnpg.yaml
  manifests/semaphore/cert.yaml
  manifests/semaphore/cnpg-semaphore.yaml
  manifests/semaphore/kustomization.yaml
  manifests/semaphore/sealed-aws-creds.yaml
  values/semaphore.yaml
Labels: area/argocd-apps, area/manifests, area/helm-values

feat(semaphore): Initial installation (#194)
  argocd-apps/kustomization.yaml
  argocd-apps/semaphore/application.yaml
  argocd-apps/semaphore/kustomization.yaml
  manifests/authentik/sealed-secret-key.yaml
  manifests/gatus/sealed-gatus-env.yaml
  manifests/kustomization.yaml
  manifests/namespaces/ns.yaml
  manifests/semaphore/backup-cnpg.yaml
  manifests/semaphore/cert.yaml
  manifests/semaphore/cnpg-semaphore.yaml
  manifests/semaphore/kustomization.yaml
  manifests/semaphore/sealed-aws-creds.yaml
  values/semaphore.yaml
Labels: area/argocd-apps, area/manifests, area/helm-values

feat(semaphore): Add homepage annotations & gatus monito
  values/gatus.yaml
  values/semaphore.yaml
Labels: area/helm-values

fix(semaphore): Change host variable
  values/semaphore.yaml
Labels: area/helm-values

feat(doc): Update k3s version
  README.md
Labels: none

feat(gatus): Chart migration
  argocd-apps/gatus/application.yaml
Labels: area/argocd-apps

feat(semaphore): Freeze secrets to avoid regeneration
  manifests/semaphore/kustomization.yaml
  manifests/semaphore/sealed-semaphore-general.yaml
  manifests/semaphore/sealed-semaphore-runner.yaml
  values/semaphore.yaml
Labels: area/manifests, area/helm-values

fix(prom-stack): Fix v63 values
  values/prometheus-stack.yaml
Labels: area/helm-values

fix(prom-stack): Fix v63 values (#219)
  values/prometheus-stack.yaml
Labels: area/helm-values

feat(semaphore): Add OIDC config & extra CA mount
  manifests/semaphore/kustomization.yaml
  manifests/semaphore/plcnk-ca.yaml
  manifests/semaphore/sealed-oidc-tokens.yaml
  values/semaphore.yaml
Labels: area/manifests, area/helm-values

feat(semaphore): Add OIDC config & extra CA mount (#221)
  manifests/semaphore/kustomization.yaml
  manifests/semaphore/plcnk-ca.yaml
  manifests/semaphore/sealed-oidc-tokens.yaml
  values/semaphore.yaml
Labels: area/manifests, area/helm-values

test(semaphore): Env variable
  values/semaphore.yaml
Labels: area/helm-values

Bump IT-Tools version
  values/it-tools.yaml
Labels: area/helm-values

fix(prom-stack): Fix PodMonitor scrape
  values/prometheus-stack.yaml
Labels: area/helm-values

Revert "chore(deps): update ghcr.io/kube-vip/kube-vip docker tag to v0.8.5 (#…"
  values/kube-vip.yaml
Labels: area/helm-values

Revert "chore(deps): update ghcr.io/kube-vip/kube-vip docker tag to v0.8.5 (#…" (#311)
  values/kube-vip.yaml
Labels: area/helm-values

feat(semaphore): Decom
  argocd-apps/semaphore/application.yaml
  argocd-apps/semaphore/kustomization.yaml
  manifests/semaphore/backup-cnpg.yaml
  manifests/semaphore/cert.yaml
  manifests/semaphore/cnpg-semaphore.yaml
  manifests/semaphore/kustomization.yaml
  manifests/semaphore/plcnk-ca.yaml
  manifests/semaphore/sealed-aws-creds.yaml
  manifests/semaphore/sealed-oidc-tokens.yaml
  manifests/semaphore/sealed-semaphore-general.yaml
  manifests/semaphore/sealed-semaphore-runner.yaml
  values/gatus.yaml
  values/semaphore.yaml
Labels: area/argocd-apps, area/manifests, area/helm-values

feat(semaphore): Decom (#398)
  argocd-apps/semaphore/application.yaml
  argocd-apps/semaphore/kustomization.yaml
  manifests/semaphore/backup-cnpg.yaml
  manifests/semaphore/cert.yaml
  manifests/semaphore/cnpg-semaphore.yaml
  manifests/semaphore/kustomization.yaml
  manifests/semaphore/plcnk-ca.yaml
  manifests/semaphore/sealed-aws-creds.yaml
  manifests/semaphore/sealed-oidc-tokens.yaml
  manifests/semaphore/sealed-semaphore-general.yaml
  manifests/semaphore/sealed-semaphore-runner.yaml
  values/gatus.yaml
  values/semaphore.yaml
Labels: area/argocd-apps, area/manifests, area/helm-values

fix(flux): Fix reconcile error
  argocd-apps/semaphore/.gitkeep
  manifests/semaphore/.gitkeep
Labels: area/argocd-apps, area/manifests

fix(flux): Fix reconcile error (again)
  argocd-apps/kustomization.yaml
  argocd-apps/semaphore/.gitkeep
  manifests/kustomization.yaml
  manifests/semaphore/.gitkeep
Labels: area/argocd-apps, area/manifests

feat(gitea): Decommission
  README.md
  argocd-apps/gitea/application.yaml
  argocd-apps/gitea/kustomization.yaml
  argocd-apps/kustomization.yaml
  manifests/gitea/backup-cnpg.yaml
  manifests/gitea/cert.yaml
  manifests/gitea/cnpg-gitea.yaml
  manifests/gitea/kustomization.yaml
  manifests/gitea/plcnk-ca.yaml
  manifests/gitea/sealed-admin-creds.yaml
  manifests/gitea/sealed-aws-creds.yaml
  manifests/gitea/sealed-oauth-generic.yaml
  manifests/gitea/sealed-redis-password.yaml
  manifests/gitea/sealed-redis-url.yaml
  manifests/kustomization.yaml
  values/gitea.yaml
Labels: area/argocd-apps, area/manifests, area/helm-values

feat(gitea): Remove from Gatus
  values/gatus.yaml
Labels: area/helm-values

feat(doc): Small update
  README.md
Labels: none

feat(gitea): Decommission (#399)
  README.md
  argocd-apps/gitea/application.yaml
  argocd-apps/gitea/kustomization.yaml
  argocd-apps/kustomization.yaml
  manifests/gitea/backup-cnpg.yaml
  manifests/gitea/cert.yaml
  manifests/gitea/cnpg-gitea.yaml
  manifests/gitea/kustomization.yaml
  manifests/gitea/plcnk-ca.yaml
  manifests/gitea/sealed-admin-creds.yaml
  manifests/gitea/sealed-aws-creds.yaml
  manifests/gitea/sealed-oauth-generic.yaml
  manifests/gitea/sealed-redis-password.yaml
  manifests/gitea/sealed-redis-url.yaml
  manifests/kustomization.yaml
  values/gatus.yaml
  values/gitea.yaml
Labels: area/argocd-apps, area/manifests, area/helm-values

feat: Remove old namespaces
  manifests/namespaces/ns.yaml
Labels: area/manifests

feat(doc): Update k3s version
  README.md
Labels: none

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/argocd-apps:
  - changed-files:
      - any-glob-to-any-file: "argocd-apps/**/*"
area/manifests:
  - changed-files:
      - any-glob-to-any-file: "manifests/**/*"
area/helm-values:
  - changed-files:
      - any-glob-to-any-file: "values/**/*"
